@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

.logo {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 40%;
}

body {
    margin: 0 auto;
    padding: 20px;
    max-width: 56em;
    font-family: 'Ubuntu', sans-serif;
  }
  
h1, h2, h3 {
  font-weight: 700;
  padding: 0;
}


a:link, a:hover, a:hover:after {
  color: #000;
}

  img {
      max-width: 100%; 
      padding-top: 20px;
      grid-gap: 20px;
      margin: 0;
      display: block;
    }

    .navbar ul {
    /*navigation*/
    font-weight: 700;
	  list-style: none;
  	padding: 10px;  
    text-align: center;
    background-color: #f4b50f; 
    }

    .navbar li {
    display: inline-block;
    padding: 10px;
    }
  
    .page-start {
      /* divider */
      border-bottom: 1px solid gray;
    }

  

  .column img {
  
    object-fit: cover;
    width: 100%;
  }

  .section-works {
    /*need extra spacing for selected works */
    padding-top: 30px;
  }

  .textwrap {
    /* for writing photos */
    float: right;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 600px;
  }

  .grid {
    /* Grid Fallback */
    display: flex;
    flex-wrap: wrap;
    
    /* Supports Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1em;
  }

  .two-grid {
    /*smaller grid for intro, sections*/
    display: grid; 
    padding-bottom: 30px; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
     
  }
 
  .module {
    /* Demo-Specific Styles */
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* Flex Fallback */
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 300px;
  }

  /* If Grid is supported, remove the margin we set for the fallback */
  @supports (display: grid) {
    .module {
      margin: 0;
    }
  }

  @media all and (max-width: 700px) {
    div {
      grid-column: 1;
    }